
body {
    
}

#banner {
    width:100%;
}

.principal {
    background: #CCCCCC;
    text-align: center;
}

h1{

}

p {

}

#missao{
    font-size: 20px;
}
em strong{
    color: red;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color: #FFFFFF;
}

h2{
    text-align: center;
}

.imagemb{
    width: 50%;
}